

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
}

input {
    width: 30%;
}



.navbar-brand {
    background-color:rgb(0, 132, 255);

}





